[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/raviyadavitofficial
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/raviyadavitofficial
	label-Verified = -1..+1 group user/raviyadavitofficial
	push = group user/raviyadavitofficial
	read = group user/raviyadavitofficial
	rebase = group user/raviyadavitofficial
	removeReviewer = group user/raviyadavitofficial
	submit = group user/raviyadavitofficial
[access "refs/heads/*"]
	create = group user/raviyadavitofficial
	push = +force group user/raviyadavitofficial
	pushMerge = group user/raviyadavitofficial
	read = group user/raviyadavitofficial
[access "refs/tags/*"]
	push = group user/raviyadavitofficial
	push = +force group user/raviyadavitofficial
